@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-1/Poppins-Medium.ttf);
}
*{
    font-family:poppins;
}
body{
    margin: 0;
}
.background{
    margin: auto;
    /* background-color: wheat; */
    max-width: 1280px;
    height:fit-content;
    margin-bottom: 128px;
}
a:link { text-decoration: none; }
nav:first-child{
    padding: 0px;
    margin: auto;
    /* background-color: rgba(213, 213, 213, 0.352); */
    display: flex;
    max-width: 1280px;
    height: 52px;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.navL{
    /* background-color: rgb(163, 211, 25); */
    justify-content: start;
    text-align: center;
}
.navR{
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 76px;
    align-items: center;
    color: #394149;
}
nav p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    margin-top: 120px;
}
header img{
    border-radius: 20px;
}
.member{
    display: flex;
    align-items: center;
}
.member img{
    width: 32px;
    height: 32px;
}
.member p:last-child{
    margin-left:24px ;
}
.blog-item-text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top: 0;
}
.blog-item-text p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.blog-item-text{
    margin: auto;
    /* background-color: wheat; */
    max-width: 752px;
    height:fit-content;
    margin-bottom: 128px;
    margin-top: -3%;
}
.blog-item-text p{
    margin: 24px 0px 24px 0px;
}
footer{
    background: #063255;
    color: white;
    height: 463px;
    position: relative;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px ;
}
.subscribe{
    display: flex;
    flex-direction: column;
    width: 342px;
}
.subscribe ::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #9C9C9C;
 }
 .subscribe input{
    padding: 18px 32px;
    border-width: 0ch;
    border-radius: 100px;
    margin-bottom: 16px;
 }
.subscribe p{
    color:#9C9C9C;
    width: 342px;
    background-color: white;
    padding: 18px 32px;
    border-radius: 50px;
    margin-bottom: 16px ;
}
.subscribe a{
    max-width: 75px;
    padding: 18px 32px ;
    background-color: #F58A07;
    border-radius: 40px;
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 82px ;
}
.bottom-right{
    display: flex;
    justify-content: space-between;
    width: 289px;
    margin-left: 32px;
}
.orange-right {
    width: 55px;
    height: 287px;
    background-color: #F58A07;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    top: 40px;
}
.orange-left{
    width: 53px;
    height: 144px;
    border-top-right-radius: 20px;
    position: absolute;
    background-color: #F58A07;
    top: 319px;
}
button{
    border-width: 0cm;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: white;
    background-color: #F58A07;
    padding: 18px 32px;
    border-radius: 40px;
    width: fit-content;
}