@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-1/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-1/Poppins-Medium.ttf);
}
*{
    font-family:poppins;
}
body{
    margin: 0;
}
.background{
    margin: auto;
    /* background-color: wheat; */
    max-width: 1280px;
    height:fit-content;
    margin-bottom: 128px;
}
a:link { text-decoration: none; }
nav:first-child{
    padding: 0px;
    margin: auto;
    /* background-color: rgba(213, 213, 213, 0.352); */
    display: flex;
    max-width: 1280px;
    height: 52px;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.navL{
    /* background-color: rgb(163, 211, 25); */
    justify-content: start;
    text-align: center;
}
.navR{
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 76px;
    align-items: center;
    color: #394149;
}
nav p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 122px;
}
.h-left{
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
}
.h-left h1{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    max-width: 618px;
}
.h-left p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    max-width: 510px;
    margin-bottom: 32px;
}
.h-left a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #FFFFFF;
    padding: 18px 32px;
    background-color: #F58A07;
    border-radius: 50px;
    max-width:fit-content;
}
.h-right img{
    border-radius: 20px;
    max-width: 616px;
    max-height: 650px;
    flex: 1;
}
.orange{
    position: absolute;
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.careers{
    display: flex;
    flex-wrap: wrap;
}
.career{
    background: #C1E4FF4D;
    /* flex: 1; */
    width: 400px;
    height: 181px;
    padding: 32px 40px;
    box-sizing: border-box;
    margin: 20px 20px 0px 0px;
    border-radius: 20px;
}
.careers h3{
    margin: 0%;
}
.careers p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
    margin: 8px 0px 32px 0px;
}
.careers a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #F58A07;
}
.blue{
    background-color: #DCEAF5;
}
.latest-section{
    /* margin-left: 22.6%; */
    max-width: 735px;
    height:50px;
}
.latest-section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;    
    color: #1D3444;
    padding-top: 96px;
}
.latest-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.blog-items{
    display: flex;
    margin-top: 200px;
    /* margin-left: 23.5%; */
    padding-bottom: 96px;
}
.blog-items img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 400px;
    max-height: 230px;
}
.blog-item{
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
    flex-wrap: wrap;
}
.blog-item p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #5B5B5B;
    padding: 0px 32px;
}
.blog-item a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-top: 5%;
    padding-bottom: 32px;
    padding-left: 32px;
}
.blog-item h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding: 0px 32px;
}
.blog-item2 p{
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1D3444;
}
footer{
    background: #063255;
    color: white;
    height: 463px;
    position: relative;
    margin-top: -130px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px ;
}
.subscribe{
    display: flex;
    flex-direction: column;
    width: 342px;
}
.subscribe ::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #9C9C9C;
 }
 .subscribe input{
    padding: 18px 32px;
    border-width: 0ch;
    border-radius: 100px;
    margin-bottom: 16px;
 }
.subscribe p{
    color:#9C9C9C;
    width: 342px;
    background-color: white;
    padding: 18px 32px;
    border-radius: 50px;
    margin-bottom: 16px ;
}
.subscribe a{
    max-width: 75px;
    padding: 18px 32px ;
    background-color: #F58A07;
    border-radius: 40px;
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 82px ;
}
.bottom-right{
    display: flex;
    justify-content: space-between;
    width: 289px;
    margin-left: 32px;
}
.orange-right {
    width: 55px;
    height: 287px;
    background-color: #F58A07;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    top: 40px;
}
.orange-left{
    width: 53px;
    height: 144px;
    border-top-right-radius: 20px;
    position: absolute;
    background-color: #F58A07;
    top: 319px;
}
button{
    border-width: 0cm;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: white;
    background-color: #F58A07;
    padding: 18px 32px;
    border-radius: 40px;
    width: fit-content;
}