@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
}
a:link {
    text-decoration: none;
}
.max-width{
    max-width: 1280px;
    margin: auto;
}
nav{
    max-width: 1280px;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    gap: 32px;
    font-weight: 600;
    align-items: center;
}
nav ul a{
    color: #394149;
}
.navR{
    justify-content: space-between;
    gap: 47px;
}
.navR button{
    padding: 18px 30px;
    background-color:rgba(245, 138, 7, 0.1);
    border-radius: 30px;
    border: none;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
}
.navL{
    text-align: center;
}
.navL img{
    max-width: 122px;
}
.header-background{
    margin-top: 16px;
}
header{
    background-color:#DCEAF5 ;
}
.header-left-text{
    max-width: 576px;
}
.header-left-text h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;    
    color: #1D3444;
    margin-bottom: 0px;
}
.header-left-text p{
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 32px;
}
.header-left-button :first-child{
    border: none;
    background-color: #F58A07;
    padding: 18px 32px ;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}
.header-left-button :last-child{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #1D3444;
    padding: 0px;
    margin-left: 40px;
}
.header-left-text :nth-child(4){
    color: rgba(57, 65, 73, 0.5);
    margin: 56px 0px 19px;
}
.header-left-logo :nth-child(2){
    margin: 0px 48px 0px 45px;
}
.header-right img{
    margin-right: -113px;
}
.border-box{
    box-sizing: border-box;
}
/* bainga aashiglagdah class uud */
.har-tsagaan{
    filter: grayscale(100%);
}
.margin-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.h24{
    margin: 0px;
    color: #0D1317;
    font-weight: 500;
}
.h36{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;  
    margin: 0px;  
}
.h48{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin: 0px;
}
.p18{
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B; 
    margin: 0px;   
}
.p16{
    color: #5B5B5B;
    margin: 0px;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.border-radius{
    border-radius: 20px;
}
.help-posts{
    justify-content: space-between;
}
.help{
    margin: 96px 0px ;
}
.help h2{
    max-width: 735px;
}
.help p{
    max-width: 735px;
    margin: 27px 0px 64px;
    margin: 27px 0px 64px;
}
.post h2{
    margin: 33px 0px 17px;
}
.post p{
    margin: 17px 0px 24px;
}
.post-2 p{
    color: #1D3444;

}
.help a{
    line-height: 106.5%;
    color: #F58A07;
}
.post{
    max-width: 400px;
}
.feaures{
    background-color: #DCEAF5;
    padding: 102px 0px 96px;
}
.feaures-top{
    justify-content: space-between;
}
.feaures-top h2{
    max-width: 619px;
}
.feaures-top p{
    max-width: 625px;
}
.features{
    justify-content: space-between;
}
.feature{
    margin-top: 64px;
    padding: 48px 24px 37px 41px;
    max-width: 401px;
    background-color: white;
}
.feature h3{
    margin: 32px 0px 16px;
}
.h24{
    margin: 0px;
    font-size: 24px;
    color: #0D1317;
}
.about{
    margin: 83px 0px 85px;
}
.about-image{
    height: 667px;
}
.about-text h1{
    max-width: 596px;
}
.about-text .p18{
    max-width: 510px;
    margin: 32px 0px 48px;
}
.about-text h2{
    color: #F58A07;
}
.about-text h3{
    margin: 16px 0px;
}
.about-features{
    width: 550px;
    justify-content: space-between;
}
.about-feature{
    max-width: 264px;
}
.orange{
    background-color: #F58A07;
    width: 153;
    height: 667px;
    left: 0px;
    mix-blend-mode: multiply;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.service{
    background-color: #DCEAF5;
    padding: 48px;
    margin-bottom: 128px;
}
.ribbon{
    top: -16px;
    right: -16px;
}
.nav-link{
    padding: 8px 24px;
    background-color: white;
    color:#F58A07; 
    margin-right: 24px;
}
.disabled{
    color: rgba(6, 50, 85, 0.3);
    background-color: transparent;
    border: 1px solid #A8BCCC;
}
.service-body{
    margin-top: 88px;
}
.service-text a{
    color: #F58A07;
}
.service-image{
    justify-content: end;
}
.service-image img{
    right: 42px;
    bottom: 48px;
}
.service-body h1{
    max-width: 572px;
}
.service-body p{
    max-width: 510px;
    margin-bottom: 40px;
}
.service-image .orange{
    left: 114px ;
    height: 100%;
    width: 20%;
}
.CTA-right{
    background-color: #F58A07;
}
.CTA-text{
    padding: 128px;
}
.CTA-text h1{
    color: white;
    max-width: 532px;
    margin-bottom: 40px;
}
.CTA-text a{
    padding: 18px 32px;
    background-color: white;
    color: #F58A07;
    border-radius: 50px;
}
.video{
    margin-top: 128px;
    justify-content: space-between;
}
.video-left{
    max-width: 550px;
}
.video-left h1{
    margin-bottom: 24px;
}
.video-left h1{
    color: #0D1317;    
}
.person{
    max-width: 249px;
    margin-top: 40px;
}
.person h3{
    color: #063255;
}
.person p{
    color: #F58A07;
}
.play-icon{
    left: 40px;
    bottom: 40px;
}
.last{
    padding: 96px 0px;
    margin-top: 128px;
    background-color: #DCEAF5;
}
.items{
    justify-content: space-between;
}
.item{
    max-width: fit-content;
    background-color: white;
    border-radius: 20px;
    margin-top: 64px;
}
.item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.item p{
    margin: 16px 0px 24px;
}
.item a{
    color: #F58A07;
}
.item-text{
    max-width: 336px;
    padding: 32px;
}
footer{
    background: #063255;
    color: white;
    height: 463px;
    position: relative;
 }
 footer p {
    color: white;
 }
 .footer-top{
    justify-content: space-between;
    padding-top: 80px ;
 }
 .social img{
    margin-right: 23px;
 }
 .subscribe{
    flex-direction: column;
    width: 342px;
 }
 .subscribe ::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #9C9C9C;
 }
 .subscribe input{
    padding: 18px 32px;
    border-width: 0ch;
    border-radius: 100px;
    margin-bottom: 16px;
 }
 .subscribe p{
    color:#9C9C9C;
    width: 342px;
    background-color: white;
    padding: 18px 32px;
    border-radius: 50px;
    margin-bottom: 16px ;
 }
 .subscribe a{
    max-width: 75px;
    padding: 18px 32px ;
    background-color: #F58A07;
    border-radius: 40px;
    color: white;
 }
 .footer-bottom{
    justify-content: space-between;
    margin-top: 82px ;
 }
 .bottom-right{
    justify-content: space-between;
    width: 289px;
    margin-left: 32px;
 }
 .orange-right {
    width: 55px;
    height: 287px;
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    top: 40px;
 }
 .orange-left{
    width: 53px;
    height: 144px;
    border-top-right-radius: 20px;
    background-color: #F58A07;
    top: 319px;
 }
button{
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: white;
    background-color: #F58A07;
    padding: 18px 32px;
    border-radius: 40px;
    width: fit-content;
}