*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
a:link { text-decoration: none; }
nav:first-child{
    padding: 0px;
    margin: auto;
    /* background-color: rgba(213, 213, 213, 0.352); */
    display: flex;
    max-width: 1420px;
    height: 52px;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.navL{
    /* background-color: rgb(163, 211, 25); */
    justify-content: start;
    text-align: center;
}
.navR{
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 76px;
    align-items: center;
    color: #394149;
}
nav p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.background1{
    display: flex;
    margin: auto;
    box-sizing: border-box;
    width: 1420px;
    height: 703px;
}
header{
    display: flex;
    background-color:#DCEAF5;
    height: 703px;  
}
.h-left1{
    /* background-color: rgb(72, 124, 255); */
    max-height: 703px;
    flex: 1;
}
.H-left{
    /* background-color: yellowgreen; */
    margin-top: 117px;
}
.H-left h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D3444;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.H-left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    font-family: Arial, Helvetica, sans-serif;
}
.H-left p:last-child{
    margin-top: 52px;
    font-family: Arial, Helvetica, sans-serif;
}
.H-left-link{
    margin-top: 32px;
}
.l-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 27px;
    padding: 19px 32px;
    background-color: #F58A07;
    font-family: Arial, Helvetica, sans-serif;
}
.r-link{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #1D3444;
    font-family: Arial, Helvetica, sans-serif;
}
.H-right{
    /* background-color: #5B5B5B; */
    display: flex;
}
.H-right img{
    flex: 1;
    max-width: 803px;
    height: 703px;
    margin-right: -100px ;
}
.help-section{
    /* margin-left: 22.6%; */
    max-width: 735px;
    height: 112px;
}
.help-section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;    
    color: #1D3444;
}
.help-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.help-posts{
    display: flex;
    margin-top: 200px;
    /* margin-left: 23.5%; */
}
.help-posts img{
    border-radius: 20px;
    width: 445px;
    height: 260px;
}
.help{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
    flex-wrap: wrap;
}
.help p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #5B5B5B;

}
.help a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-top: 5%;
}
.help h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.help2 p{
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1D3444;
}
.feaures-section{
    margin: auto;
    background-color: #EDF7FF;
    height: 665px;
    padding: 96px 0px;
}
.background{
    margin: auto;
    /* background-color: wheat; */
    width: 1420px;
    height: 800px;
}
.feaures-section-top{
    /* width: 1420px; */
    /* background-color: thistle; */
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.feaures-section-top h1{
    /* background-color: yellow; */
    max-width: 660px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.feaures-section-top p{
    /* background-color: azure; */
    max-width: 690px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #1D3444;
}
.features{
    /* background-color: teal; */
    max-width: 1420px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.feature{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 440px;
    padding:40px 40px;
    box-sizing: border-box;
    border-radius: 5%;
}
.feature img{
    max-width: 34px;
    padding-bottom: px;
}
.feature h2{
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.feature p{
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #5B5B5B;
}
.about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
}
.about-text{
    /* background-color: aqua; */
    max-width: 680px;
    flex: 1;
}
.about-text h1{
    width: 610px;
    font-family: 'arial';
    font-style: normal;
    font-weight: border;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.about-text p{
    font-family: 'arial';
    font-style: normal;
    max-width: 545px;
    height: 140px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #5B5B5B;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
.about-feature{
    display: flex;
    justify-content: space-between;
}
.a-feature{
    display: flex;
    flex-direction: column;
    width: 290px;
}
.a-feature h1{
    font-family: 'arial';
    font-style:normal;
    font-weight:700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #F58A07;
    margin-bottom: -10px;
}
.a-feature h2{
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
}
.about-image{
    margin: 0px;
    max-width: 600px;
    flex: 1;
    /* background-color: #394149; */
    margin-right: 36px;
}
.about-image img{
    border-radius: 5%;
    position:absolute;
}
.orange{
    background-color: orange;
    mix-blend-mode: multiply;
    width: 153px;
    height: 667px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    position: absolute;
}
.service-section{
    background-color: #EDF7FF;
    max-width: 1420px;
    height: 690px;
    border-radius: 20px;
    margin-top: 100px;
}
.ribbon{
    position:absolute;
    justify-content: center;
    /* background-color: #5B5B5B; */
    margin-top: -15px;
    margin-left: 1257px;
}
nav:nth-child(2){
    /* background-color: #394149; */
    padding: 52px;
}
.nav-link{
    /* background-color: #2cc914; */
    padding: 8px 24px;
    border-radius: 20px;
    margin: 12px;
}
.active{
    background-color: white;
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #F58A07;
}
.disabled{
    width: 183px;
    height: 40px;
    left: 765px;
    top: 3294px;
    border: 1px solid #A8BCCC;
    color: #A8BCCC;
    border-radius: 31px;
}
.service-body{
    display: flex;
    padding: 52px;
    justify-content: space-between;
    position:absolute
}
.service-text{
    max-width: 510px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 300px;
}
.service-text h1{
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.service-text p{
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.service-text a{
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.service-image{
    /* flex: 1; */
    background-color: #0D1317;
}
.service-image img {
    position: absolute;

}
.service-orange{
    background-color: orange;
    mix-blend-mode: multiply;
    width: 153px;
    height: 466px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
}
.CTA-section{
    display: flex;
}
.CTA-section img{
    /* display: flex; */
    flex: 1;
}
/* .CTA-image{
    flex: 1;
    display: flex;
    justify-content: end;
} */
.CTA-right{
    background-color:#F58A07;
    padding: 128px;
    flex: 1;
    width: 100%;
}
.CTA-right h1{
    max-width: 532px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.CTA-right a{
    background-color: white;
    padding: 18px 32px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F58A07;
}
.video-section{
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #A8BCCC; */
}
.video-left{
    /* background-color: aqua; */
    max-width: 680px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.video-left h1{
    width: 610px;
    font-family: 'arial';
    font-style: normal;
    font-weight: border;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.video-left p{
    font-family: 'arial';
    font-style: normal;
    max-width: 610px;
    height: 140px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #5B5B5B;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
.about-image{
    position: relative;
}
.play-icon{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.person-text{
    margin-left: 24px;
}
.person-text h2{
    margin-top: 0;
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.person-text h3{
    margin-top: -20px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.feature-orange{
    width: 96px;
    height: 97px;
    border-radius: 20px;
    position: absolute;
    background-color: #F58A07;
    mix-blend-mode: multiply;
}
.feature-1-orange{
    top: 128px;
    left: -48px;
}
.feature-2-orange{
    right: -48px;
    top: 272px;

}
.feature-3-orange{
    left: -48px;
    top: 217px;
}
.feature-4-orange{
    right: -48px;
    top: 272px;
}
.feature-5-orange{
    left: -48px;
    top: 342px;
}
.blue{
    background-color: #DCEAF5;
}
.latest-section{
    /* margin-left: 22.6%; */
    max-width: 735px;
    height:50px;
    margin-bottom: px;
}
.latest-section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;    
    color: #1D3444;
    padding-top: 96px;
}
.latest-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.blog-items{
    display: flex;
    margin-top: 200px;
    /* margin-left: 23.5%; */
}
.blog-items img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 400px;
    max-height: 230px;
}
.blog-item{
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
    flex-wrap: wrap;
}
.blog-item p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #5B5B5B;
    padding: 0px 32px;
}
.blog-item a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-top: 5%;
    padding-bottom: 32px;
    padding-left: 32px;
}
.blog-item h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding: 0px 32px;
}
.blog-item2 p{
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1D3444;
}
footer{
    background: #063255;
    color: white;
    height: 463px;
    position: relative;
    margin-top: -128px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px ;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe p{
    color:#9C9C9C;
    width: 342px;
    background-color: white;
    padding: 18px 32px;
    border-radius: 50px;
    margin-bottom: 16px ;
}
.subscribe a{
    max-width: 75px;
    padding: 18px 32px ;
    background-color: #F58A07;
    border-radius: 40px;
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 82px ;
}
.bottom-right{
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.orange-right {
    width: 55px;
    height: 287px;
    background-color: #F58A07;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    top: 40px;
}
.orange-left{
    width: 53px;
    height: 144px;
    border-top-right-radius: 20px;
    position: absolute;
    background-color: #F58A07;
    top: 319px;
}